/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #BDC9FF;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 1080px;
  --image-margin: 3rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: courier, courier new, monospace;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
/*   place-items: center; */
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

h1 {
  text-shadow:
    3px   3px   0  #ffffff,
    -1px  -1px  0  #ffffff,  
    1px   -1px  0  #ffffff,
    -1px  1px   0  #ffffff,
    1px   1px   0  #ffffff;
}

p {
  font-size: 1.25rem;
  font-size: 36px;
  text-shadow:
    1px   1px   0  #55007f,
    -1px  -1px  0  #55007f,  
    1px   -1px  0  #55007f,
    -1px  1px   0  #55007f,
    1px   px   0  #55007f;
}

/* Title h1 style */
.title {
  color: #2800FF;
  font-family: courier, courier new, monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 2rem 0 0;
}

/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 100%;
  max-height: 150px;
  margin-top: 1rem;
}
