/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #98C1D9;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --wrapper-height: 1080px;
  --image-margin: 3rem;
}
/******************************************************************************
END Glitch hello-app default styles
https://coolors.co/55007f-98c1d9-e0fbfc-ee6c4d-a44a3f
******************************************************************************/

body {
  font-family: courier, courier new, monospace;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
/*   place-items: center; */
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

h1, h2 {
  text-shadow:
    1px 1px 2px black,
    3px   3px   0  #ffffff,
    -1px  -1px  0  #ffffff,  
    1px   -1px  0  #ffffff,
    -1px  1px   0  #ffffff,
    1px   1px   0  #ffffff;
}

p {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-shadow:
    1px 1px 2px black,
    -1px  -1px  6px  #7952b3,  
    1px   -1px  6px  #7952b3,
    -1px  1px   6px  #7952b3,
    1px   1px   6px  #7952b3;
}

ol {
  display: flex;
}

li {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 0 2em 2em;
}

#option1 {
  text-shadow:
    1px 1px 2px black,
    -1px  -1px  6px  #F46197,  
    1px   -1px  6px  #F46197,
    -1px  1px   6px  #F46197,
    1px   1px   6px  #F46197;
}

#option2 {
  text-shadow:
    1px 1px 2px black,
    -1px  -1px  6px  #43AA8B,  
    1px   -1px  6px  #43AA8B,
    -1px  1px   6px  #43AA8B,
    1px   1px   6px  #43AA8B;
}

#option3 {
  text-shadow:
    1px 1px 2px black,
    -1px  -1px  6px  #3066BE,  
    1px   -1px  6px  #3066BE,
    -1px  1px   6px  #3066BE,
    1px   1px   6px  #3066BE;
}

/* Title h1 style */
.title {
  color: #EE6C4D;
  font-family: courier, courier new, monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 69px;
  line-height: 105%;
  margin: 2rem 0 0;
}

.subtitle {
  color: #44355B;
  font-family: courier, courier new, monospace;
  font-style: italic;
  font-weight: bold;
  font-size: 42px;
}

/* Very light scaling for our illustration */
.illo-container {
  display: flex;
  justify-content: flex-end;
}
.illustration {
  max-width: 100%;
  max-height: 150px;
  margin-top: 1rem;
}
