<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=1920, height=1080, initial-scale=1" />

    <title>{{seo.title}}</title>

    <link rel="stylesheet" href="/style.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    {{#if eventSourceUrl}}
    <script type="text/javascript">
      const events = new EventSource("{{eventSourceUrl}}?token={{token}}");  
      events.addEventListener("heartbeat", (event) => {
        const info = JSON.parse(event.data);
        var infoHtml = "";
        if (info.round === "START") {
          infoHtml += "<p>A brand new AI generated adventure is about to begin...</p>";
        } else if (info.round === "PROMPT") {
          infoHtml += "<p>Waiting for prompt from Jason...</p>";
          if (info.winningResponse) {
            infoHtml += `<p>Last AI response (${info.winningResponse.votes} votes):<br>${info.winningResponse.prompt}</p>`;
          }
        } else if (info.round === "GENERATE") {
          infoHtml += `<p>Last action: ${info.currentPrompt.prompt}</p>`;
          if (info.botResponses) {
            infoHtml += responesesToHtml(info.botResponses);
          } else {
            infoHtml += "<p>Generating...</p>";
          }
        } else if (info.round === "VOTE") {
          infoHtml += `<p>Last action: ${info.currentPrompt.prompt}</p>`;
          infoHtml += `<p>Vote for your favorite AI response (ex '!vote 1') (Time remaining: ${getTimeRemaing(Date.now(), info.roundStartTime, 2)})</p>`;
          infoHtml += responesesToHtml(info.botResponses, info.votes);
        }
        $( "#info" ).html(infoHtml);
      });
      
      /**
       * Convert bot responses to an ordered list (with vote totals, if any)
       */
      function responesesToHtml(responses, votes=[]) {
        if (responses.length < 1) return "";
        
        var listHtml = "<ol>";
        
        const voteTotals = [];
        for (let i=0; i<responses.length; ++i) {
          voteTotals.push(0);
        }
        
        for (let i=0; i<votes.length; ++i) {
          voteTotals[votes[i].vote] += 1;
        }
        
        for (let i=0; i<responses.length; ++i) {
          const voteCount = voteTotals[i];
          if (voteCount > 0) {
            listHtml += `<li id="option${i+1}">${responses[i].prompt} [${voteCount} votes]</li>`;
          } else {
            listHtml += `<li id="option${i+1}">${responses[i].prompt}</li>`;
          }
        }
        
        listHtml += "</ol>";
        
        return listHtml;
      }
      
      /**
       * Calculate time remaining in round (in seconds)
       */
      function getTimeRemaing(currentTime, roundStartTime, roundDurationInMins=1) {
        const roundDurationInMs = (roundDurationInMins*60*1000);
        const roundEnd = roundStartTime + roundDurationInMs;
        const timeRemainingInMs = Math.abs(roundEnd - currentTime);
        if (timeRemainingInMs <= 0 || timeRemainingInMs > roundDurationInMs) return 0;
        return Math.round(Math.max(0, timeRemainingInMs / 1000));
      }
    </script>
    {{/if}}    
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <!-- This is the start of content for our page -->
        <div style="display: flex; align-items: baseline;">
          <h1 class="title">Adventure Bot</h1>
          <h2 class="subtitle">
            An Improvised Choose Your Own Adventure Story by AI &amp; Humans
          </h2>
        </div>
        <div id="info">
          <p>
            Starting...
          </p>
        </div>
        
      </div>
    </div>
  </body>
</html>
