<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- 
      This is the main Handlebars template for the site 
      - When the user visits the homepage or submits a color the app calls the endpoints in server.js
      - The server script passes data in here and the Handlebars code builds it into the HTML page
    -->
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=1920, height=1080, initial-scale=1" />

    <title>{{seo.title}}</title>

    <link rel="stylesheet" href="/style.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script type="text/javascript" src="/abeventsource.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <!-- This is the start of content for our page -->
        <div style="display: flex; align-items: baseline;">
          <h1 class="title">Adventure Bot</h1>
          <h2 class="subtitle">
            An Improvised Choose Your Own Adventure Story by AI &amp; Humans
          </h2>
        </div>
        <div id="info">
          <p>
            Starting...
          </p>
        </div>
        
      </div>
    </div>
  </body>
</html>
